:root {
  --animation-duration: 0.8s;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Nunito-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Nunito-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/Nunito-Black.woff2') format('woff2');
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #333333;
  background: url('../img/clouds.svg') no-repeat top 40px center,
  linear-gradient(180deg, #c2e5fe 0%, #ffffff 50%) no-repeat;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.button {
  box-sizing: border-box;
  padding: 16px 24px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #333333;
  cursor: pointer;
  background-color: #ffbf20;
  border: none;
  border-radius: 10px;
}

.button:hover {
  background-color: #ffd97c;
}

.button:active {
  background-color: #ffd97c;
}

.game {
  display: grid;
  align-items: center;
  gap: 40px 20px;
  margin-bottom: 155px;
  padding-top: 40px;
  grid-template-columns: 460px auto 1fr;
}

.progress-wrapper {
  display: flex;
  width: 460px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 8px;
}

.progress {
  background-color: #00ca51;
  border-radius: 8px;
  transition: width var(--animation-duration);
}

.progress-description {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
}

.steps {
  padding: 8px 20px;
  font-size: 20px;
  font-weight: 900;
  line-height: 28px;
  color: #ffffff;
  background-color: #00ca51;
  border-radius: 22px;
  justify-self: end;
}

.cards {
  display: grid;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-column: 1 / -1;
  grid-template-columns: repeat(4, 220px);

  perspective: 1000px; /* Для анимации */
}

.card {
  display: grid;
  align-items: center;
  box-sizing: border-box;
  width: 220px;
  height: 160px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #bad6eb;
  border-radius: 10px;
  transition: transform var(--animation-duration);

  justify-items: center;
  transform-style: preserve-3d;
}

.card img {
  border-radius: 5px;
  transform: rotateY(180deg);
  grid-area: 1 / 1 / 2 / 2;
  backface-visibility: hidden;
}

/* Рубашка */

.card::after {
  width: 218px;
  height: 158px;
  content: '';
  background-image: url('../img/back-cats.svg');
  background-repeat: no-repeat;
  background-position: center;
  grid-area: 1 / 1 / 2 / 2;
  backface-visibility: hidden;
}

/* Финальная отметка */

.card::before {
  z-index: 1;
  width: 204px;
  height: 144px;
  content: '';
  background-color: rgba(140, 174, 200, 0.6);
  background-image: url('../img/check.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  opacity: 0;
  transition-property: opacity;
  grid-area: 1 / 1 / 2 / 2;
}

.card:not(.card-show):not(.card-finished):hover {
  box-shadow: 0 6px 16px rgba(140, 174, 200, 0.6);
}

.card-show {
  cursor: default;
  transform: rotateY(180deg);
}

.card-finished {
  cursor: default;
  transform: rotateY(180deg);
}

.card-finished::before {
  opacity: 1;
  transition-delay: var(--animation-duration);
  transition-timing-function: ease-in-out;
  transition-duration: var(--animation-duration);
}
